<!DOCTYPE html>
<html>
  <head>
    <title>Community Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
      <style>
        html, body, #map-canvas 
        {
          height: 100%;
          margin: 5px;
          padding: 0px
        }
      </style>
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>

    <h2 id="menubar">
      <ul>
        <li><a href="http://localhost/communitymap">Community Map</a></li>
        <li><a href="http://localhost/about">About</a></li>
        <li><a href="http://localhost/contact">Contact</a></li>
      </ul>
    </h2>
    
  </head>
  <body>
    <div id="directions1">
      • Each different color represents a county. Counties are colored based on their <br>ratings which are provided by users. See the key for which colors correspond <br>to which ratings. If you would like, you may leave a rating for your neighborhood. <br>Submissions are, by default,
      anonymous.<br>
    </div>
    <div id="keykey"><u>Key</u></div>
    <div id="key">
        Rating 0 = <div id="blackbox" style="background-color:#000000;"> </div><br>
        Rating 1-3 = <div id="redbox" style="background-color:red;"> </div><br>
        Rating 4-7 = <div id="yellowbox" style="background-color:yellow;"> </div><br>
        Rating 8-10 = <div id="greenbox" style="background-color:green;"> </div><br>
      </div>
      <div id="filters">
        Filter by:
        <form method="get">
          <input type="radio" name="applyfilterbutton" id="applyfilterbutton" value="Crime rate"> Crime rate<br>
          <input type="radio" name="applyfilterbutton" id="applyfilterbutton" value="Cost of Living"> Cost of Living<br>
          <input type="radio" name="applyfilterbutton" id="applyfilterbutton" value="'notBears'"> daBears<br>
        
        <button id="applyfilterbutton">Apply Filter</button>
        </form>
      </div>
  
      
      <div id="map-canvas">

    
 <script>

      if(Number(<%= @averagedResults %>) == 0){
        console.log(<%= @averagedResults %>); 
      }
      else{
      var arr = [];
      index = 0;
      <%if @averagedResults != 0%>
      <% for value in @averagedResults %>
        arr[index] = <%= value %>;
        index++;
      <%end%>
      <%end%>
    }
    window.glob =arr;

 </script>       
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>console.log("hello");</script>
    <script src="/javascripts/map.js">
      console.log("passedScript");
 
    </script>
      </div>



      <form id="submissionline" method="post" action="/">
      Rating of
        <select id="ratingdropdown">
          <option value="">(choose one)</option>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        for
        <select id="neighborhooddropdown">
          <option value="">(choose one)</option)>
          <option value="0">Alamosa</option>
          <option value="1">Arapahoe</option>
          <option value="2">Archuleta</option>
          <option value="3">Baca</option>
          <option value="4">Bent</option>
          <option value="5">Boulder</option>
          <option value="6">Broomfield</option>
          <option value="7">Chaffee</option>
          <option value="8">Cheyenne</option>
          <option value="9">Clear Creek</option>
          <option value="10">Conejos</option>
          <option value="11">Costilla</option>
          <option value="12">Crowley</option>
          <option value="13">Custer</option>
          <option value="14">Delta</option>
          <option value="15">Denver</option>
          <option value="16">Dolores</option>
          <option value="17">Douglas</option>
          <option value="18">Eagle</option>
          <option value="19">El Paso</option>
          <option value="20">Elbert</option>
          <option value="21">Fremont</option>
          <option value="22">Garfield</option>
          <option value="23">Gilpin</option>
          <option value="24">Grand</option>
          <option value="25">Gunnison</option>
          <option value="26">Hindsdale</option>
          <option value="27">Huerfano</option>
          <option value="28">Jackson</option>
          <option value="29">Jefferson</option>
          <option value="30">Kiowa</option>
          <option value="31">Kit Carson</option>
          <option value="32">La Plata</option>
          <option value="33">Lake</option>
          <option value="34">Larimer</option>
          <option value="35">Las Animas</option>
          <option value="36">Lincoln</option>
          <option value="37">Logan</option>
          <option value="38">Moffat</option>
          <option value="39">Mesa</option>
          <option value="40">Mineral</option>
          <option value="41">Montezuma</option>
          <option value="42">Montrose</option>
          <option value="43">Morgan</option>
          <option value="44">Otero</option>
          <option value="45">Ouray</option>
          <option value="46">Park</option>
          <option value="47">Phillips</option>
          <option value="48">Pitkin</option>
          <option value="49">Prowers</option>
          <option value="50">Pueblo</option>
          <option value="51">Rio Blanco</option>
          <option value="52">Rio Grande</option>
          <option value="53">Routt</option>
          <option value="54">Saguache</option>
          <option value="55">San Juan</option>
          <option value="56">San Miguels</option>
          <option value="57">Sedgwick</option>
          <option value="58">Summit</option>
          <option value="59">Teller</option>
          <option value="60">Washington</option>
          <option value="61">Weld</option>
          <option value="62">Yuma</option>
        </select>

        Submitted by (Anonymous if empty):
        <input type='text' name='submitter'></input> to filter
        <select id="submitwithfilter">
          <option value="">(choose one)</option>
          <option value="Crime Rate">Crime Rate</option>
          <option value="Cost Of Living">Cost of Living</option>
          <option value="notBears">Bears</option>


        </select>
        <button id="submitbutton">Submit</button>

      </form>
    </div>
    <div id="footer">
      Developed by Kyle Follmer, Drew Koelling, Michael Harvey, and Nate Watts. *This Data May Be Largely Inaccurate.

    </div>
  </body>
</html>
